
@media only screen and (max-width: 360px) {
    body {
      background-color: #8FB7C6;
    }
    img{
        width: 107px;
        height: 107px;
    }
    .section-main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: cadetblue; */
        height: 628px;
    }

    .block-1{
        background-color: chartreuse;
        width: 256px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .form-login{
       display: flex;
       flex-direction: column;
       height: 1px;
    }

  }